.buttom-bar {
    width: 100vw;
    height: 50px;
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    background: rgb(180, 180, 190);
    @media screen and (max-width: 600px) {
        height: 70px;
        font-size: 10px;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}