.movie-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.5);
    backdrop-filter: blur(5px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-popup-content {
    width: 700px;
    height: fit-content;
    background-color: rgba(200, 200, 200);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 50px;
    box-sizing: border-box;
    color:rgba(50, 50, 50)
}

.movie-popup-close {
    content: "";
    background-image: url("../../assets/images/close.png");
    background-size: contain;
    margin: 20px;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    right: 0;
}

.movie-popup-close:hover {
    background-image: url("../../assets/images/close-hover.png");
}

.movie-popup-title {
    width: 100%;
    font-size: 2.3em;
    font-weight: bold;
    color: rgba(80, 80, 80);
    margin-bottom: 25px;
}

.movie-popup-split {
    width: 50%;
    height: fit-content;
    vertical-align: top;
    display: inline-block;
}

.movie-popup-desc {
    width: 100%;
    font-size: 1em;
    color: rgb(90, 90, 90);
    margin-top: 20px;
}

.rating-text {
    font-size: 1em;
    font-weight: bold;
    color: rgb(80, 80, 80);
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 7px;
}

.movie-popup-genre {
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    /* only allows horizontal overflow as stroll */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.genre-item {
    width: fit-content;
    height: 264px;
    display: inline-block;

    padding: 20px 10px;
    box-sizing: border-box;

    border-radius: 10px;
    border: 2px solid rgba(31, 31, 31, 0.5);

    text-align: center;
    margin-right: 20px;;
    /* background-color: rgba(100, 100, 100, 0.5); */
    white-space: normal;
    vertical-align: top;
}

.genre-deaf-desc {
    margin: 10px 0 0;
    width: 160px;
    line-height: 1.2;
    font-size: 0.9em;
}

.genre-item::last-child {
    margin-right: 0;
}